
.ionide/*
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
obj/

bin/

.ionide/
output/0.csv
output/1.csv
output/2.csv
output/3.csv
output/4.csv
output/5.csv
output/6.csv
output/7.csv
output/8.csv
output/9.csv
output/10.csv
output/11.csv
DataSource/RevenueReport Jan-Dec2019.csv
DataSource/RevenueReport-Jan-Dec2019.csv
